body{
    box-sizing: border-box;
    text-align: center;
}
.box{
    background-color: antiquewhite;
    padding: 10px;
    margin-right:30px;
 
}
#scon{
    margin-left: 70px;
}
.red{
    background-color: rgb(240, 12, 164);
    font-size: 20px;
    color: antiquewhite;
    border-radius: 10px;
    border: none;
}